<div class="row">
    <div class="col">
        <h3>Lista de recetas</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receta of listaRecetas">
                    <td> {{ receta.id }} </td>
                    <td>
                        <label (click)="irDetalle(receta.id)"> {{receta.nombre}}</label>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="borrar(receta.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-outline-primary" [routerLink]="['/nuevaReceta']">Nueva receta</button>
    </div>
    <div class="col">
        <h3>Lista de recetas favoritas</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recetaFav of listaRecetasFav">
                    <td> {{ recetaFav.id }} </td>
                    <td>
                        <label (click)="irDetalle(recetaFav.id)"> {{recetaFav.nombre}}</label>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="borrar(recetaFav.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>